{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <a href="{{ path('messages_new') }}">Create new message</a>
    <a href="{{ path('app_logout') }}">Logout</a>

    <h1>Message list</h1>

    <div class="message_list">
        {% for message in messages %}
            <div class="guest"> {{ message.guest }}</div>
            <div class="message"> {{ message.message }}</div>
            <a href="{{ path('messages_edit', {'id': message.id}) }}">edit</a>
        {% else %}
            no records found
        {% endfor %}
    </div>

    <div class="navigation" role="navigation">
        {{ knp_pagination_render(messages) }}
    </div>

{% endblock %}
