<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Guest book{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<main>
    {% block body %}{% endblock %}
</main>

{% block javascripts %}{% endblock %}
</body>
</html>
