{% extends 'base.html.twig' %}

{% block title %}Edit Messages{% endblock %}

{% block body %}
    <h1>Edit Messages</h1>

    {{ include('messages/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('messages/_delete_form.html.twig') }}

    <a href="{{ path('messages_index') }}">back to list</a>
{% endblock %}
