{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-info">
        {% if userName != null %}
            Hi, {{ userName }}<br>
            Your total messages - {{ totalUserMessages }}<br>
            Last visit time - {{ lastVisitTime }}<br>
        {% endif %}

        <a href="{{ path('messages_new') }}">Create new message</a>
    </div>

    <h1>Message list</h1>

    <div class="message_list">
        {% for message in messages %}
            <div class="guest"> {{ message.guest }}</div>
            <div class="message"> {{ message.message }}</div>
            <br>
        {% else %}
            no records found
        {% endfor %}
    </div>

    <div class="navigation" role="navigation">
        {{ knp_pagination_render(messages) }}
    </div>

{% endblock %}
