{% extends 'base.html.twig' %}

{% block title %}New Messages{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Create new Message</h1>

    {{ include('messages/_form.html.twig') }}

    <a href="{{ path('messages_index') }}">Back to guest book</a>
{% endblock %}
